* {
    margin: 0;
    padding: 0;
}

.red-div {
    background-color: rgb(110, 70, 70);
}

.blue-div {
    background-color: rgb(39, 39, 58);
}

div {
    height: 100vh;
    width: 100vw;
}

.hidden {
    display: none;
}